<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="row mt-3">
      <div class="col-8 offset-2">
         <h3>Edit your listing</h3>
         <form method="POST" action="/listings/<%= listing._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
               <label for="title" class="form-label">Title</label>
               <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
               <div class="valid-feedback">Title looks good!</div>
            </div>
            
            <div class="mb-3">
               <label for="description" class="form-label">Description</label>
               <textarea name="listing[description]"  rows="4" cols="60" class="form-control" required><%=listing.description%></textarea>
               <div class="invalid-feedback">Enter a short description</div>
            </div>
            <div class="mb-3">
                Original Image 
                <br> 
               <img src="<%= originalImageUrl %>">
            </div>

            <div class="mb-3">
               <label for="image" class="form-label">Upload New Image</label>
               <input type="file" name="listing[image]" class="form-control">
            </div>
            
            <div class="row">
               <div class="mb-3 col-md-4">
                  <div class="mb-3">
                     <label for="price" class="form-label">Price</label>
                     <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                     <div class="invalid-feedback">Price should be valid</div>
                  </div>
                  
                  <div class="mb-3">
                     <label for="country" class="form-label">Country</label>
                     <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                     <div class="invalid-feedback">Country name should be valid</div>
                  </div>

                 

<div class="mb-3">
    <label for="city" class="form-label">City</label>
    <select class="form-select" name="listing[city]" required>
        <option value="indore" <% if (listing.city === "indore") { %>selected<% } %>>Indore</option>
        <option value="ahmedabad" <% if (listing.city === "ahmedabad") { %>selected<% } %>>Ahmedabad</option>
        <option value="Bangalore" <% if (listing.city === "Bangalore") { %>selected<% } %>>Bangalore</option>
        <option value="Bhopal" <% if (listing.city === "Bhopal") { %>selected<% } %>>Bhopal</option>
        <option value="Chandigarh" <% if (listing.city === "Chandigarh") { %>selected<% } %>>Chandigarh</option>
        <option value="Chennai" <% if (listing.city === "Chennai") { %>selected<% } %>>Chennai</option>
        <option value="Delhi" <% if (listing.city === "Delhi") { %>selected<% } %>>Delhi</option>
        <option value="Hyderabad" <% if (listing.city === "Hyderabad") { %>selected<% } %>>Hyderabad</option>
        <option value="Jaipur" <% if (listing.city === "Jaipur") { %>selected<% } %>>Jaipur</option>
        <option value="Kolkata" <% if (listing.city === "Kolkata") { %>selected<% } %>>Kolkata</option>
        <option value="Mumbai" <% if (listing.city === "Mumbai") { %>selected<% } %>>Mumbai</option>
        <option value="Pune" <% if (listing.city === "Pune") { %>selected<% } %>>Pune</option>
        <option value="Surat" <% if (listing.city === "Surat") { %>selected<% } %>>Surat</option>
        <option value="Aizawl" <% if (listing.city === "Aizawl") { %>selected<% } %>>Aizawl</option>
        <option value="Shillong" <% if (listing.city === "Shillong") { %>selected<% } %>>Shillong</option>
    </select>
    <div class="invalid-feedback">City should be valid</div>
                  </div>
                  <div class="mb-3">
                     <label for="location" class="form-label">Location</label>
                     <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                     <div class="invalid-feedback">Location should be valid</div>
                  </div>
               </div>
            </div>
            
            <button class="btn btn-dark edit-btn mt-3">Edit</button>
         </form>   
      </div>
        
   </div>
   
</body>
